/* Reference: 
    1. https://www.w3schools.com/css/default.asp
    2. https://developer.mozilla.org/en-US/docs/Web/CSS
    3. https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */


/* Implemented most styles with HIT and Trial untill I found which I liked the most as a decent presentation for the webpage */

/* Global Values */

body {
    width: 100%;
    height: 100%;
    color: #ffffff;
    background-image: url("../img/background_1.jpg");
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

a:hover {
    background-color: rgb(229, 32, 43);
}

p {
    font-size: 1.2rem;
}

.button {
    background-color: rgb(229, 32, 43);
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

section {
    background-color: rgba(000, 000, 000, 0.55); /* 4th Option adds Opacity */
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px 15px 10px 15px;
}

/*#########################################################*/

/* Wepages - Custom CSS */

.me-img {
    width: 35%;
    max-width: 400px;
    height: auto;
}

.bio-ref {
    font-size: small;
}

.bio-ref a {
    color: #ffffff;
    text-decoration: none;
    
}

.welcome {
    display: flex;
    flex-direction: column;

}

.welcome h1 {
    font-weight: 700;
    font-size: xx-large;
    line-height: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.interest-para {
    width: 60%;
}

.image-wrapper {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.welcome p {
    font-weight: 400;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.content-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.page-img:hover {
    opacity: 0.8;
}

.footer {
    font-size: small;
    font-weight: 100;
    text-align: center;
    background-color: rgba(000, 000, 000, 0.55);
    margin-top: 25px;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.header {
    text-align: center;
    font-size: xx-large;
}

.content-text {
    font-size: xx-large;
    text-align: center;
}


.img-box a {
    color: #ffffff;
    text-decoration: none;
}

.img-box {
    width: 33%;
    text-align: center;
}

.img-box a:hover {
    background-color: none;
    text-decoration: underline;

}

.showcase {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
    margin-left: 5rem;
    margin-right: 5rem;
}

.quote-section {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    gap: 100px;
}

.quote-section a {
    text-decoration: none;
    color: #ffffff
}

.box-facts-article {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.reference{
    font-size: small;
}


.box-facts-article h3{
    text-align: center;
}

.box-facts-article a {
    text-decoration: none;
    color: #ffffff
}

.beginning h1 {
    font-weight: 800;
    font-size: x-large;
    text-align: center;
}

/* ####################################################### */

@media only screen and (max-width: 684px) {

            /* Global */


    p {
        font-size: 0.7rem;
    }


    ol {
        font-size: 0.7rem;
    }

    section {
        background-color: rgba(000, 000, 000, 0.55);
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 5px 2px 5px 2px;
    }

/* ########################################################*/

            /* Custom CSS  */

    .content-box {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .img-box {
        width: 100%;
    }

    .box-facts-article {
        flex-direction: column;
        gap: 0;

    }


    .main {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .heading {
        flex-direction: column;
        gap: 0;
    }


    .welcome h1 {
        font-weight: 500;
        font-size: large;
        line-height: 1rem;
        text-align: center;

    }

    .me-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }

    .about {
        text-align: center;
    }

    .interest-para {
        width: auto;
        display: block;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;

    }
    .quote-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    .button {
        background-color: rgb(229, 32, 43);
        border: none;
        color: white;
        padding: 10px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
    }

    .showcase {
        text-align: center;
        font-weight: 800;
        font-size: large;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .header {
        text-align: center;
        font-size: large;
    }

    .footer {
        font-size: small;
        font-weight: 100;
        text-align: center;
        background-color: rgba(000, 000, 000, 0.55);
        margin-top: 25px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}